<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container-responsive">
    <div class="jumbotron">
      <h2>Thank you for using Sleep Reminder!</h2>
      <br>
      <p>Time To Go To Bed Today: <%= @setting1%></p>
      <br>
      <p>How you will be reminded: <%= @setting3%></p>
      <br>
      <p>How Long You Will Be Asleep Tonight: <%= @setting2%></p>
    </div>
  </div>
</body>
</html>
